<!DOCTYPE html>
<html>
<body>
    <p>Dear User,</p>
    <p>Thank you for registering with our website. Please click on the link below to confirm your email address:</p>
    <p>
        <a href="EMAIL_CONFIRMATION_URL">Confirm Email</a>
    </p>
    <p> If the above link does not work, you can copy and paste the following URL into your browser:<br>
        EMAIL_CONFIRMATION_URL
    </p>
    <p>If you did not register with our website, please ignore this email.</p>
    <p>Best regards,<br>Your Company</p>
</body>
</html>