<!DOCTYPE html>
<html>
<body>
    <p>Dear User,<br><br>
        We have received a request to reset your password.<br><br>
        <strong>ATTENTION!!!</strong> If you did not make this request, you can ignore this message.<br><br>
        To reset your password, please access the following address: <a href="PASSWORD_RESET_LINK">Reset Password</a><br>
        If the above link does not work, you can copy and paste the following URL into your browser:<br>
        PASSWORD_RESET_LINK<br>
        Please note that this link is valid for 1 hour.<br>
        If you have any questions or need further assistance, please contact our support team.<br><br>
        Best regards,<br>Your Company Name
    </p>
    </div>
</body>
</html>